.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Input {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Input:focus {
  outline: none;
  background-color: #ccc;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}